 <form>
        <label> Name: </label><br><input type="text" name="name" [(ngModel)] = "name"> <br>
        <label> E-mail: </label> <br> <input type="text" name="email" [(ngModel)] = "email"> <br>
        <label> Street: </label> <br> <input type="text" name="address.street" [(ngModel)] = "address.street"> <br>
        <label> City: </label> <br> <input type="text" name="address.city" [(ngModel)] = "address.city"> <br>
        <label> State: </label> <br> <input type="text" name="address.state" [(ngModel)] = "address.state"> <br>
    </form>
    
    <hr />
    
    <h1>{{name}}</h1>
    <p><strong>E-mail </strong>: {{email}} </p>
    <p><strong> Address </strong>: {{address.street}}, {{address.city}} , {{address.state}} </p><br>
    <button (click) = "toggleHobbies()">{{showHobbies ? "Hide Hobbies" : "Show Hobbies"}}</button>
    <div *ngIf = "showHobbies">
        <p><strong> Hobbies </strong>:</p>
        <ul>
            <li *ngFor="let hobby of hobbies; let i = index" > 
                {{hobby}} <button (click) = "deleteHobby(i)"> X </button>
            </li>
        </ul>  
        <form (submit) = "addHobby(hobby.value)">
            <label> Add Hobby: </label><input type="text" #hobby> <br>
        </form>
    </div>
    <hr />
    <h1>Posts</h1>
    <div *ngFor="let post of posts">
        <h3>{{post.id}}. {{post.name}}</h3>
        <p><strong>E-mail </strong>: {{post.email}} </p>
        <p><strong> Address </strong>: {{post.address.street}}, {{post.address.city}} , NA </p><br>
    </div>